

/* Fonts */
@font-face { font-family: pruncial; src:url(Fonts/pruncial.ttf);}

/* Images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Body */


body { background-color: #000; margin-left: 10%; margin-right: 10%; }

h1 { color: #8E1600; font-family: cmtitle; font-size: 75px; margin-top: 5%; padding-top: 10px; text-align: center; }

h2 { color: #fff; font-family: cmtitle; font-size: 25px; margin-bottom: -20px; }

h3 { color: #fff; font-family: cmtitle; font-size: 20px; }

p { color: #fff; font-family: cmserif; font-size: 20px; }

footer { color: #222; font-family: cmmono; text-align: right; }
